.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;

  font-family: $main-font-family;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: $text-main-color;

  background-color: $button-color;

  @include media-breakpoint-up($screen-width-tablet) {
    width: 264px;
  }

  @include hover(background-color, $button-hover-color);

  &--height {
    height: 50px;
  }
}
